<footer class="pure-u-1 footer">
    <div class="return_to_top"><a href="#"><i class="material-icons md-48">expand_less</i></a></div>
    <div>Licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" title="CC BY-NC-SA">CC BY-NC-SA</a> by <a href="mailto:dan@dkcy.com">dkcy</a></div>
</footer>