<header id='header' class='pure-u-1 header'>
  <div id='blog-title' class="header_title"><a href='{{ base_url_absolute }}'>{{ 'SITE.TITLE'|t }}</a></div>
  <div class="header_subtitle">GROWTH&nbsp;&nbsp;|&nbsp;&nbsp;WATER&nbsp;&nbsp;|&nbsp;&nbsp;ENERGY&nbsp;&nbsp;|&nbsp;&nbsp;CLIMATE</div>
</header>